$bg-img: '/images/43f6e96e380e962457ece50b229c8e0c.jpg';

#contact {
  background-image: url($bg-img);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

#contact .section .container {
  width: 100%;
}

#contact #gmap_canvas {
  height:100%;
  width: 100%;
  min-height: 400px;
}

#contact #gmap_canvas img{
  max-width:none!important;
  background:none!important;
  height:100%;
  width: 100%;
  color: inherit;
}



@media screen and (max-width: 768px){
  #contact {color: inherit; }
}

@media screen and (max-width: 480px){
  #contact {color: inherit; }
}