#products {
  //background-color: lighten(#000, 93.5%);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: #d7dee3; /* Old browsers */
background: -moz-linear-gradient(top, #d7dee3 0%, #f5f7f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d7dee3 0%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d7dee3 0%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dee3', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}



/* align the icon and the header text of column */
#products .fa,
#products p {
  line-height: 1.6;
  text-align: center;
}

/* ensures that all columns have the same height */
/* #produts .row {
  display: table;
}

#products .row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
 */


#products #grid {
  margin: 50px 0;
}