
/* align the icon and the header text of column */
#products .fa,
#products p {
  width: 100%;
  line-height: 1.6;
  text-align: center;
}
#products p.lead {
  text-transform: uppercase;
}

/* ensures that all columns have the same height */
/* #produts .row {
  display: table;
}

#products .row [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
 */


#products #grid {
  margin: 50px 0;
}