// laravel main css content
@import "../app";

// jumbotron css content
@import "jumbotron";

// bootstrap css content
@import "carousel";

@import "about";
@import "menu";

@import "products";

@import "contact";
@import "sites";

@import "footer";


.section .section-title {
  margin: 20px; 
}

.section .container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.full-width-relative {
  width: 100%;
}

.section .lead.uppercase {
  text-transform: uppercase;
  text-align: center;
}


@media screen and (max-width: 768px){
	.section-title h1 { text-align: center; }
}
