// laravel main css content
@import "../app";

// jumbotron css content
@import "jumbotron";

// bootstrap css content
@import "carousel";

@import "menu";

@import "products";

@import "contact";
@import "sites";

@import "footer";


.section .section-title {
  margin: 20px; 
}

.section .section-title h1 {
  margin: 20px 0;
}


.section{
  padding: 100px 0;
  //height: 100vh;
}

.section > .container {
  /* position: relative;
  top: 50vh;
  left: 50vw; */
}

.full-width-relative {
  width: 100%;
}