$bg-img: '/images/glavnaya-parallax-bg.jpg';

#sites {
  background-image: url($bg-img);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

